.sidebar {
	position: fixed;
	width: 25%;
	height: 100%;
	background: rgb(24, 33, 61);
	color: #fff;
	top: 0;
	bottom: 0;
	margin-left: -25%;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

#layout {
	padding-left: 25%;
	position: relative;
}

.header {
	margin: 50% 2em 0; 
	text-align: right;
}

.nav-item {
	display: inline-block;
}

.brand-title {
	text-transform: uppercase;
}

.brand-tagline {
	color: rgb(142, 142, 214);
}

.content {
	font-family: Georgia, "Cambria", serif;
	line-height: 1.8em;
	letter-spacing: normal;
	word-spacing: normal;
	padding: 50px 100px;
	color: #444;
}

.posts {
	margin-bottom: 100px;
}

.content-subhead {
	font-size: .8em;
	border-bottom: 1px solid #bbb;
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.post-avatar {
#	width: 60px;
#	height: 60px;
	border-radius: 30px;
	box-shadow: 1px 1px 5px #333;
	border-color: #fff;
	border-width: 1px;
	float: right;
	margin: .5em;
}

.post {
	margin-top: 50px;
	margin-bottom: 70px;

}

.post-title {
	font-size: 2em;
	color: #0187c5;
}

.post-author,a {
	text-decoration: none;
	color: rgb(142,142,214);
}

.post-meta {
	color: #999;
}

.post-category {
	font-size: .8em;
	color: #fff;
	padding: .2em .8em;
	vertical-align: center;
}

.post-category-design {
	background: #5aba59;
}

.post-category-pure {
	background: #4d85d1;
}

.post-category-js {
	background: #df2d4f;
}

.post-category-uncategorized {
	background: #999;
}

.post-category-yui {
	background: #8156a7;
}

.post-image-meta {
	margin-top: -3.5em;
	margin-left: 1em;
	color: #fff;
	text-shadow: 0 1px 1px #333;
}

.post-description {
	color: #414141;
	line-height: 30px;
	letter-spacing: .12em;
}

.discuss-title {
	color: rgb(139, 18, 105);
}

.discuss-content {
	color: rgb(11, 139, 139);

	padding-left: 1.5em;
	padding-bottom: 10px;
	border-bottom: 1px dotted #aaa;

	margin-bottom: 30px;
}

.input-form {
	margin: 20px 50px 50px;
}

.normal-input-text {
	width: 880px;
	height: 100px;
	font-size: 1.1em;

	padding: 10px 5px;
	background: rgba(241, 219, 131, 0.29);
	margin: 0 auto;

	resize: none;

	border: 1px solid #000;
	margin-bottom: 10px;
}

.normal-input-button {
	float: right;
	margin-right: 10px;
	display: block;
	width: 100px;
	height: 30px;

	background: #0187c5;
}

.normal-input-button a {
	color: #fff;
	display: block;
	cursor: pointer;

	width: 100%;
	height: 100%;

	text-align: center;
	line-height: 30px;

	text-shadow: 1px 1px 1px #414141;
}

.normal-input-button:hover {
	background: rgb(64, 182, 236);
}
