<!DOCTYPE html>
<div class="banner">
			<ul>
				 <li style="background-image: url(/static/images/tucao_slide.jpg);background-size:100%;">
					<div class="inner" height="415px">
						<h1>周知吐槽</h1>
						<p>尽情地为自己呐喊</p>
						<a class="btn" href="/index">开始吐槽</a>
					</div>
		
				</li>
				 <li style="background-image: url(/static/images/slide2.jpg);background-size:100%;">
					<div class="inner">
						<h1>这只是一个大标题</h1>
						<p>用来测试轮播插件这个复杂的东西</p>
						<a class="btn" href="#">测试</a>
					</div>
				 </li>
				 <li style="background-image: url(/static/images/slide3.jpg);background-size:100%;">
					<div class="inner">
						<h1>这只是一个大标题</h1>
						<p>用来测试轮播插件这个复杂的东西</p>
						<a class="btn" href="#">测试</a>
					</div>
				 </li>
			</ul>
			<a class="unslider-arrow prev left carousel-control" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="unslider-arrow next right carousel-control" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
