<!DOCTYPE html>
<html>
<head>
    <meta charset='gb2312'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ static_url("flat-ui/bootstrap/css/bootstrap.css") }}">
    <script src="{{ static_url("script/jquery-2.0.3.min.js") }}"></script>
    <script src="{{ static_url("flat-ui/bootstrap/js/bootstrap.js") }}"></script>
    <script src="{{ static_url("script/jquery.twbsPagination.js")
        }}"></script>
</head>

<body>
<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="main-content">
            <p>
                <div class="text-center">
                    <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
            </p>
        </section>
        <label id="page-content"></label>
    </div>
</div>
<script>
var startPage = {{ current_page }};
$('#pagination-demo').twbsPagination({
        totalPages: {{ total_pages}},
        visiblePages: {{ visible_pages }},
        version: '1.1',
        startPage: {{ current_page }},
        onPageClick: function (event, page) {
            if (page != startPage){
                window.location.href = "index?page=" + page;
            }
        }
});
</script>
</body>
</html>
