<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <script src="{{ static_url("script/jquery-latest.js") }}"></script>
    <script src="{{ static_url("script/basic.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("blog.css") }}">
    <link rel="stylesheet" href="{{ static_url("basic.css") }}">
</head>
<body>
	<div id="wrapper">
		<header></header>
		<nav></nav>
		<aside></aside>
		<article>
			<section>
				<div class="post">
					<div class="post-header">
                        <h2 class="post-title">{{ title }}</h2>
                        <p class="post-meta">发布人:<span class="post-author">{{ publisher}}</span>
                        &nbsp;&nbsp;&nbsp;发表时间: {{ date }}</p>
					</div>
					<div class="post-description">
                        <p>{{ body }}</p>
					</div>
				</div>
			</section>
			<section>
				<div class="post">
					<div class="post-header">
						<h2 class="post-title"></h2>
					</div>
					<div class="post-description">
						<p></p>
					</div>
				</div>
			</section>
		</article>

		<h1 class="content-subhead">吐槽列表</h1>

		<div class="input-form">
			<textarea class="normal-input-text" id="content" name="content"></textarea>
			<p id="rest-num"></p>
            <input type="hidden" id="id" name="id"  value="{{ nid }}">
			<div class="normal-input-button" id="tucao-submit"><a>吐槽</a></div>
		</div>

		<article class="discuss-list">
            {% for comm in commList %}
            <section>
                <p class="discuss-title">{{ comm.level }}楼</p>
                <p class="discuss-content">{{ comm.content }}</p>
            </section>
            {% end %}
		</article>
		<footer></footer>
	</div>
</body>
</html>
