<html>
<head>
	<title></title>
	<meta charset="utf-8">


	<!-- 最新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("flat-ui/bootstrap/css/bootstrap.css") }}">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{{ static_url("script/jquery-latest.js") }}"></script>
    <script src="{{ static_url("script/jquery.cookie.js") }}"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}"></script>
	<link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap-responsive.min.css") }}">

    <script src="{{ static_url("script/signup.js") }}"></script>
    <script src="{{ static_url("flat-ui/js/flatui-checkbox.js") }}"></script>

	<link rel="stylesheet" href="{{ static_url("css/signup.css") }}">

	<style>
	</style>
</head>
<body>

    {% module NavbarPedestal(user, url) %}
    <br>
    <br>
    <br>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>

			<div class="col-md-6 block-3d-1x" >
                <div class="progress" style="margin-bottom:0px;margin-top:16px;height:30px;">
                  <div class="progress-bar" style="width:50%">注册</div>
                  <div class="progress-bar progress-bar-success" style="width:50%">验证</div>
                </div>
                <div>
                    <p>验证邮件已发送至你的邮箱，验证后你将成为本站的正式会员。</p>
                    <p><a href="#">点击重发</a></p>
                </div>
            </div>
        </div>
	</div>
</body>

